{% set resourceBase = link('index') %}

<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>{% block title %}{{ get("app.title") }}{% endblock %}</title>
    {% block styles %}
      <link href="{{ resourceBase }}css/app.css" rel="stylesheet" />
    {% endblock %}
    {# Icon and App Manifests #}
    <link rel="apple-touch-icon" sizes="180x180" href="{{ resourceBase }}icon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ resourceBase }}icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ resourceBase }}icon/favicon-16x16.png">
    <link rel="manifest" href="{{ resourceBase }}icon/site.webmanifest">
    <link rel="mask-icon" href="{{ resourceBase }}icon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="{{ resourceBase }}icon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="{{ resourceBase }}icon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body class="d-flex flex-column h-100">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <div class="navbar-brand">
        <img src="{{ resourceBase }}icon/favicon-32x32.png" alt="">
        <span>Activity Summary</span>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav mr-auto">
          {% if session.isAuthenticated() %}
            {% set navLinks = {
              'content.overview': 'Overview',
              'content.gear': 'Gear',
              'content.list': 'Activity List',
            } %}
            {% for link, label in navLinks %}
              <li class="nav-item">
                <a class="nav-link {{ route == link ? 'active' : '' }}" href="{{ link(link) }}">{{ label }}</a>
              </li>
            {% endfor %}
          {% endif %}
        </ul>
        
        {% if session.isAuthenticated() %}
          <div>
            <a href="{{ link('profile') }}">
            <img class="athlete-profile mr-2" src="{{ session.getAthleteProfileUrl() }}" /><span class="athlete-name mr-2">{{ session.getAthleteName() }}</span>
            </a>
          </div>
          <form class="form-inline my-0 " method="post" action="{{ link('security.logout') }}">
            <button type="submit" class="btn btn-primary"><i class="fas fa-sign-out-alt"></i> Logout</button>
          </form>
        {% endif %}
      </div>
    </nav>

    <main role="main" class="container flex-shrink-0">{% block main %}{% endblock %}</main>

    <footer class="footer mt-auto py-1 bg-light">
      <div class="container d-flex flex-wrap align-items-center text-muted">
        <span>Jan Dittrich &copy; {{ 'now' | date('Y') }}</span>
        <a class="text-secondary" href="{{ link('legal.disclosure') }}">Legal Disclosure</a>
        <a class="text-secondary" href="{{ link('legal.privacy') }}">Privacy Policy</a>
        <a class="text-secondary" href="https://gitlab.com/jan-di/activity-summary"><i class="fab fa-gitlab"></i>&nbsp;Source</a>
        <img class="api-logo ml-auto" src="{{ resourceBase }}img\powered-by-strava.svg">
      </div>
    </footer>

    {% block scripts %}
      <script src="{{ resourceBase }}js/manifest.js"></script>
      <script src="{{ resourceBase }}js/vendor.js"></script>
      <script src="{{ resourceBase }}js/app.js"></script>
    {% endblock %}
  </body>
</html>
