{% extends "base.html.twig" %}

{% block title %}{{ error.code }} - {{ parent() }}{% endblock %}

{% block main %}
    <h1 class="text-center">{{ error.code }}</h1>
    <h3 class="text-center">{{ error.message }}</h3>
{% endblock %}