{% extends "base.html.twig" %}

{% block main %}

<div class="jumbotron align-items-center flex-column d-flex mt-4">
    <h1 class="display-4 mb-4">Activity Summary</h1>

    <div id="index-carousel" class="carousel slide col" data-ride="carousel" data-interval="3000">
        <ol class="carousel-indicators">
            {% for i in 0..3 %}
                <li data-target="#index-carousel" data-slide-to="{{ i }}" class="{{ i == 0 ? 'active' : '' }}"></li>
            {% endfor %}
        </ol>
        <div class="carousel-inner">
        {% for i in 0..3 %}
            <div class="carousel-item {{ i == 0 ? 'active' : '' }}">
                <div class="w-100">
                    <img class="d-block mx-auto mb-5 mw-100 border" src="{{ resourceBase }}img/carousel/slide{{ i }}.png" alt="">
                </div>
            </div>
        {% endfor %}
        </div>
    </div>

    <p>Login with your strava account to get an individual summary of your activities!</p>

    {% include "include/strava-login.html.twig" %}
</div>

{% endblock %}  