{% extends "base.html.twig" %}

{% block title %}{{ 'Login - ' ~ parent() }}{% endblock %}

{% block main %}
    <h1>Login</h1>

    {% if errorMessage != null %}
        <div class="alert alert-warning">
            <i class="fas fa-exclamation-triangle"></i> {{ errorMessage }}
        </div>
    {% endif %}

    {% include "include/strava-login.html.twig" %}
{% endblock %}