{% extends "base.html.twig" %}

{% block title %}{{ 'Profile - ' ~ parent() }}{% endblock %}

{% block main %}
<h1>Profile</h1>

{% include "include/flash-message.html.twig" %}

<div class="row mb-4 profile">
  <div class="col d-flex">
    <img class="athlete-profile" src="{{ session.getAthleteProfileUrl() }}">
    <div class="d-flex flex-column ml-3">
      <span class="athlete-name">{{ session.getAthleteName() }}</span>
      <span class="athlete-id">#{{ session.getAthleteId }}<a class="strava" target="_blank" 
        href="{{ get('strava.template_url.athlete')|replace({'{id}': session.getAthleteId()}) }}" 
        data-toggle="tooltip" title="View on Strava"><sup><i class="fas fa-external-link-alt"></i></sup></a>
      </span>
    </div>
  </div>
</div>

<h2>Actions</h2>
<div class="row">
  <div class="col"> 
      <form method="post" action="{{ link('security.logout') }}">
          <input type="hidden" name="delete" value="1"/>
          <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure?');"><i class="fas fa-sign-out-alt"></i> Delete Account</button>
          This will deauthorize this app <a href="https://www.strava.com/settings/apps">at Strava</a> and delete all information we stored about your activities.
      </form>
  </div> 
</div>

{% endblock %}