<div class="display {{ classes }}" id="display-{{ id }}" data-athlete="{{ options.athlete }}"
  {{ (fixedParams is defined) ? 'data-fixed-params=' ~ fixedParams|url_encode : '' }}
  >
  <div class="d-flex">
    <div class="spinner-border spinner mr-auto" role="status" style="display: hidden;">
      <span class="sr-only">Loading...</span>
    </div>
    <span class="title mx-auto">{{ title }}</span>
    <div class="dropdown dropleft ml-auto">
      <button class="btn btn-secondary btn-xs dropdown-toggle" type="button" id="display-{{ id }}-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-cog"></i>
      </button>
      <div class="dropdown-menu" aria-labelledby="display-{{ id }}-menu">
        <form class="px-4 py-3">
          <legend>Filter Options</legend>
          <div class="form-group">
            Visibility<br/>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="display-filter-visibility" id="display-{{ id }}-visibility-all" value="" checked>
              <label class="form-check-label" for="display-{{ id }}-visibility-all">All</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="display-filter-visibility" id="display-{{ id }}-visibility-public" value="public">
              <label class="form-check-label" for="display-{{ id }}-visibility-public">Public</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="display-filter-visibility" id="display-{{ id }}-visibility-private" value="private">
              <label class="form-check-label" for="display-{{ id }}-visibility-private">Private</label>
            </div>
          </div>
          <div class="form-group">
            Commute<br/>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="display-filter-commute" id="display-{{ id }}-commute-all" value="" checked>
              <label class="form-check-label" for="display-{{ id }}-commute-all">All</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="display-filter-commute" id="display-{{ id }}-commute-only" value="only">
              <label class="form-check-label" for="display-{{ id }}-commute-only">Only Commutes</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="display-filter-commute" id="display-{{ id }}-commute-except" value="except">
              <label class="form-check-label" for="display-{{ id }}-commute-except">Except Commutes</label>
            </div>
          </div>
          <div class="form-group">
            Types<br/>
            {% for type in options.types %}
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="display-filter-types" id="display-{{ id }}-type-{{ type }}" value="{{ type }}" checked>
                <label class="form-check-label" for="display-{{ id }}-type-{{ type }}">{{ type }}</label>
              </div>
            {% endfor %}
          </div>
          <div class="form-group">
            Years<br/>
            {% for year in options.years %}
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="display-filter-years" id="display-{{ id }}-year-{{ year }}" value="{{ year }}" checked>
                <label class="form-check-label" for="display-{{ id }}-year-{{ year }}">{{ year }}</label>
              </div>
            {% endfor %}
          </div>
        </form>
      </div>
    </div>
  </div>
  <div id="display-{{ id }}-content" class="content"></div>
</div>