// Bootstrap Variable overrides
$carousel-indicator-active-bg: #000;

@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

$strava-orange: #FC4C02;

body {
    padding-top: 3.5rem;
}

main {
    h1, h2 {
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
        padding-bottom: 0.1em;
        text-align: center;
    }
}

nav {
    .navbar-brand {
        display: flex;
        align-items: center;

        img {
            height: 1.2em;
            margin-top: 0.15em;
        }

        span {
            margin-left: 0.5em;
        }
    }

    .athlete-profile {
        height: 2em;
        outline: 2px solid gray("900");
    }

    .athlete-name {
        color: $navbar-dark-active-color;
    }

    .navbar-collapse.show > * {
        margin-bottom: 0.5em;
    }
}

footer {
    .api-logo {
        height: 2em;
    }

    > div.container {
        gap: 1em;
    }
}

.display {
    .title {
        font-size: 1.5em;
    }

    .dropdown-menu {
        min-width: 20rem;
    }
}

.table.slim {
    th, td {
        font-size: 0.8rem;
        padding: 0.1rem;
    }

    .double-border {
        border-top:  3px double $border-color;
    }
}

a.strava {
    color: $strava-orange;
}

.profile {
    .athlete-profile {
        margin: 2px;
        outline: 2px solid gray("900");
    }

    .athlete-name {
        font-size: 2em;
    }

    .athlete-id {
        font-family: monospace;
    }
}

.btn-group-xs > .btn, .btn-xs {
    padding: .25rem .4rem;
    font-size: .875rem;
    line-height: .5;
    border-radius: .2rem;
}