{% extends "base.html.twig" %}

{% block title %}{{ 'Gear - ' ~ parent() }}{% endblock %}

{% block main %}
<h1>Gear</h1>

{% include "include/flash-message.html.twig" %}

<div class="row">
    {% include "include/display.html.twig" with {
        'classes': 'device-table col-xs col-lg-7',
        'id': 'device-table',
        'title': 'Devices',
        'options': activityFilterOptions
    } %}
    {% include "include/display.html.twig" with {
        'classes': 'device-chart col-xs col-lg-5',
        'id': 'device-chart',
        'title': '',
        'options': activityFilterOptions
    } %}
</div>
<div class="row">
    {% include "include/display.html.twig" with {
        'classes': 'gear-table col-xs col-lg-7',
        'id': 'bikes-table',
        'title': 'Bikes',
        'options': activityFilterOptions,
        'fixedParams': {
            'gear': 'bike'
        }
    } %}
    {% include "include/display.html.twig" with {
        'classes': 'gear-chart col-xs col-lg-5',
        'id': 'bikes-chart',
        'title': '',
        'options': activityFilterOptions,
        'fixedParams': {
            'gear': 'bike'
        }
    } %}
</div>
<div class="row">
    {% include "include/display.html.twig" with {
        'classes': 'gear-table col-xs col-lg-7',
        'id': 'shoes-table',
        'title': 'Shoes',
        'options': activityFilterOptions,
        'fixedParams': {
            'gear': 'shoe'
        }
    } %}
    {% include "include/display.html.twig" with {
        'classes': 'gear-chart col-xs col-lg-5',
        'id': 'shoes-chart',
        'title': '',
        'options': activityFilterOptions,
        'fixedParams': {
            'gear': 'shoe'
        }
    } %}
</div>

{% endblock %}