{% extends "base.html.twig" %}

{% block title %}{{ 'Activity List - ' ~ parent() }}{% endblock %}

{% block main %}
<h1>Activity List</h1>

{% include "include/flash-message.html.twig" %}

<div class="row">
    {% include "include/display.html.twig" with {
        'classes': 'activity-table col',
        'id': 'activities-table',
        'title': 'Activities',
        'options': activityFilterOptions
    } %}
</div>

{% endblock %}