{% extends "base.html.twig" %}

{% block title %}{{ 'Overview - ' ~ parent() }}{% endblock %}

{% block main %}
<h1>Overview</h1>

{% include "include/flash-message.html.twig" %}

<div class="row">
    {% include "include/display.html.twig" with {
        'classes': 'summary-table col',
        'id': 'summary',
        'title': 'Summary',
        'options': activityFilterOptions
    } %}
</div>

<div class="row">
    {% include "include/display.html.twig" with {
        'classes': 'annual-cumulative-chart col-xs col-lg-6',
        'id': 'cumulative-distance',
        'title': 'Cumulative Distance',
        'options': activityFilterOptions,
        'fixedParams': {
            'value': 'distance'
        }
    } %}
    {% include "include/display.html.twig" with {
        'classes': 'annual-cumulative-chart col-xs col-lg-6',
        'id': 'cumulative-time',
        'title': 'Cumulative Moving Time',
        'options': activityFilterOptions,
        'fixedParams': {
            'value': 'movingTime'
        }
    } %}
</div>

<div class="row">
    {% include "include/display.html.twig" with {
        'classes': 'start-heatmap-chart col',
        'id': 'start-heatmap',
        'title': 'Activity Start Heatmap',
        'options': activityFilterOptions
    } %}
</div>

{% endblock %}