{% extends "base.html.twig" %}

{% block title %}{{ 'Legal Disclosure - ' ~ parent() }}{% endblock %}

{% block main %}
    <h1>Legal Disclosure</h1>
    Information in accordance with Section 5 TMG
    <br><br>
    {{ get('legal.contact') }}<br>
    {% if get('legal.address.line1')|length > 0 %}
        {{ get('legal.address.line1') }}<br>
    {% endif %}
    {% if get('legal.address.line2')|length > 0 %}
        {{ get('legal.address.line2') }}<br>
    {% endif %}
    <br>
    <h4>Contact Information</h4>
    {% if get('legal.telephone')|length > 0 %}
        Telephone: {{ get('legal.telephone') }}<br>
    {% endif %}
    {% if get('legal.email')|length > 0 %}
        E-Mail: <a href="mailto:{{ get('legal.email') }}">{{ get('legal.email') }}</a><br>
    {% endif %}
    Internet address: <a href="{{ absoluteLink('index') }}" target="_blank">{{ absoluteLink('index') }}</a><br><br>
    <h4>Disclaimer</h4>
    Accountability for content<br>
    The contents of our pages have been created with the utmost care. However, we cannot guarantee the contents'
    accuracy, completeness or topicality. According to statutory provisions, we are furthermore responsible for 
    our own content on these web pages. In this matter, please note that we are not obliged to monitor 
    the transmitted or saved information of third parties, or investigate circumstances pointing to illegal activity. 
    Our obligations to remove or block the use of information under generally applicable laws remain unaffected by this as per 
    §§ 8 to 10 of the Telemedia Act (TMG).

    <br><br>Accountability for links<br>
    Responsibility for the content of 
    external links (to web pages of third parties) lies solely with the operators of the linked pages. No violations were 
    evident to us at the time of linking. Should any legal infringement become known to us, we will remove the respective 
    link immediately.<br><br>Copyright<br> Our web pages and their contents are subject to German copyright law. Unless 
    expressly permitted by law, every form of utilizing, reproducing or processing 
    works subject to copyright protection on our web pages requires the prior consent of the respective owner of the rights. 
    Individual reproductions of a work are only allowed for private use. 
    The materials from these pages are copyrighted and any unauthorized use may violate copyright laws.

    <br><br>
    <span class="text-muted">Source: <a href="http://www.translate-24h.de" target="_blank">impressum generator at translate-24h.de</a></span>
{% endblock %}